//Bulma Grid library
$tablet: map-get($breakpoints, phablet);
$desktop: map-get($breakpoints, tablet);
$widescreen: map-get($breakpoints, desktop);
$fullhd: map-get($breakpoints, desktophd);

$navbar-background-color: unset;
$navbar-breakpoint: $tablet;
$navbar-item-hover-color: white;
$navbar-dropdown-item-hover-color: white;
$navbar-dropdown-background-color: rgba(0, 0, 0, 0.5);
$navbar-item-color: $nav-text-colour;
$navbar-dropdown-offset: 0px;
// $navbar-padding-vertical: 0;

@import "bulma/sass/utilities/_all.sass"; // Global Styles needed by all of Bulma
@import "bulma/sass/grid/columns.sass"; // Responsive Columns
@import "bulma/sass/components/navbar.sass"; // Navbar
@import "bulma/sass/helpers/visibility.sass"; // Visibility helper functions
@import "bulma/sass/helpers/spacing.sass"; // Spacer Helper functions

// Custom helper function for revesing column
@media (max-width: $tablet) {
    .columns.is-reversed-mobile {
        flex-direction: column-reverse;
        display: flex;
    }
}
.columns.is-reversed {
    flex-direction: row-reverse;
}
