// Slide horizontally and fade-in / out
.slide-fade-enter-active {
    transition: all 0.3s ease;
}
.slide-fade-leave-active {
    transition: all 0.3s ease-out;
}
.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(50px);
    opacity: 0;
}


// Fade-in / out
.fade-enter-active {
    transition: all 0.3s ease;
}
.fade-leave-active {
    transition: all 0.3s ease-out;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
