// Global Page Transition
.page-enter-active,
.page-leave-active {
    transition: opacity 0.15s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}

// Slide horizontally and fade-in / out
.slide-fade-enter-active {
    transition: all 0.3s ease;
}
.slide-fade-leave-active {
    transition: all 0.3s ease-out;
}
.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(50px);
    opacity: 0;
}

// Zoom and fade-in / out
.zoom-fade-enter-active {
    transition: all 0.25s ease;
}
.zoom-fade-leave-active {
    transition: all 0.25s ease-out;
}
.zoom-fade-enter,
.zoom-fade-leave-to {
    transform: scale(0.7);
    opacity: 0;
}

// Zoom in / out
.zoom-enter-active {
    transition: all 0.25s ease;
}
.zoom-leave-active {
    transition: all 0.25s ease-out;
}
.zoom-enter,
.zoom-leave-to {
    transform: scale(0.7);
}

// Slide vertically and fade-in / out
.verticle-slide-fade-enter-active {
    transition: all 0.3s ease;
}
.verticle-slide-fade-leave-active {
    transition: all 0.3s ease-out;
}
.verticle-slide-fade-enter {
    transform: translateY(-25px);
    opacity: 0;
}
.verticle-slide-fade-leave-to {
    transform: translateY(25px);
    opacity: 0;
}

// Fade-in / out
.fade-enter-active {
    transition: all 0.3s ease;
}
.fade-leave-active {
    transition: all 0.3s ease-out;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
