html,
body,
#__nuxt,
#__layout,
#__layout > * {
    height: 100%;
}

body {
    margin: 0;
}

main {
    margin-top: 1em;
    width: 100%;
}

html {
    font-family: $font-sans-serif;
    font-size: 16px;
    word-spacing: 1px;

    // Styles for dark background pages
    .dark {
        color: $text-colour-light;
    }
}

h1 {
}

a {
    text-decoration: none;
    color: $colour-accent;
    border-bottom: 1px solid $colour-accent;

    .dark & {
        color: $text-colour-light;
        border-bottom: 1px solid $text-colour-light;
    }
}
