// Ensure all wrapper tags are at least 100% high so that full-bleed backgrounds and videos are correct size
html,
body,
#__nuxt,
#__layout,
#__layout > * {
    height: 100%;
}

body {
    margin: 0;
    color: $colour-dark;
}

main {
    // margin-top: 1em;
    width: 100%;
}

html {
    font-family: $font-sans-serif;
    font-size: 16px;
    word-spacing: 1px;

    // Styles for dark background pages
    .dark {
        color: $text-colour-light;
    }
}

h1 {
}

a {
    text-decoration: none;
    color: $colour-accent;
    border-bottom: 1px solid $colour-accent;

    .dark & {
        color: $text-colour-light;
        border-bottom: 1px solid $text-colour-light;
    }
}

.light-page-title {
    color: $colour-secondary;
    text-align: center;
    font-family: $font-serif;
    margin-top: 1.5em;
}

.light-page-content {
    li {
        list-style: none;
        margin-bottom: 0.3em;
    }

    a {
        border-bottom: 0;
    }

    h2 {
        text-transform: uppercase;
        font-size: 1.2em;
    }
}