// Colours
$colour-dark: #2e282f;
$colour-light: #e0e1e3;
$colour-medium: #828282;
$colour-primary: #5f6d8b;
$colour-accent: #3b83c2;
$colour-primary-dark: #303746;
$colour-secondary: #cea797;
$colour-green: #64807e;

// Text
$text-colour-dark: $colour-dark;
$text-colour-medium: $colour-medium;
$text-colour-light: #ffffff;

$font-serif: adobe-caslon-pro, serif;
$font-sans-serif: noto-sans, sans-serif;

$container-padding: 50px;

//Navbar
$nav-height: 56px;
$nav-text-colour: #dfdfdf;
