// Colours
$colour-dark: #2E282F;
$colour-light: #E0E1E3;
$colour-medium: #828282;
$colour-primary: #5F6D8B;
$colour-accent: #3B83C2;
$colour-secondary: #CEA797;

// Text
$text-colour-dark: $colour-dark;
$text-colour-medium: $colour-medium;
$text-colour-light: #ffffff;

$font-serif: adobe-caslon-pro, serif;
$font-sans-serif: noto-sans, sans-serif;

$container-padding: 50px;